# Zola configuration for hx website
# https://www.getzola.org/documentation/getting-started/configuration/

base_url = "https://hx.raskell.io"
title = "hx"
description = "An extremely fast Haskell package and project manager, written in Rust."
default_language = "en"
theme = "purple-haze"

# Compile Sass/SCSS
compile_sass = true

# Generate feed
generate_feeds = false

# Build options
build_search_index = false
minify_html = true

[markdown]
smart_punctuation = true
external_links_target_blank = true
external_links_no_follow = true
external_links_no_referrer = true

[markdown.highlighting]
enabled = true
light_theme = "catppuccin-latte"
dark_theme = "catppuccin-mocha"

[slugify]
paths = "on"
anchors = "on"

[extra]
# Theme mode
mode = "product"

# Site metadata
author = "raskell.io"
github_repo = "https://github.com/raskell-io/hx"
docs_url = "https://hx.raskell.io/docs/"

# SEO metadata
keywords = "haskell, package manager, project manager, rust, cabal, stack, fast, hx"

# Social links
github = "https://github.com/raskell-io/hx"

# Product configuration
[extra.product]
tagline = "Extremely fast Haskell package and project manager"
subtitle = "Written in Rust. Built for speed."
gradient_title = true
badge = "Coming Soon"
install_command = "curl -fsSL https://get.raskell.io/hx | sh"
install_alternatives = "Or download from <a href='https://github.com/raskell-io/hx/releases'>GitHub Releases</a>"
footer_tagline = "The modern Haskell toolchain."
footer_note = "Built with love by <a href='https://raskell.io'>raskell.io</a>"

# Social links
[extra.social]
github = "https://github.com/raskell-io/hx"
twitter = "https://x.com/raskell_io"
discord = "https://discord.gg/raskell"

# Footer link groups
[[extra.product.footer_links]]
title = "Documentation"
[[extra.product.footer_links.links]]
text = "Getting Started"
url = "/docs/getting-started/"
[[extra.product.footer_links.links]]
text = "Installation"
url = "/docs/installation/"
[[extra.product.footer_links.links]]
text = "CLI Reference"
url = "/docs/cli/"
[[extra.product.footer_links.links]]
text = "Configuration"
url = "/docs/configuration/"
[[extra.product.footer_links.links]]
text = "Migration Guide"
url = "/docs/migration/"

[[extra.product.footer_links]]
title = "Resources"
[[extra.product.footer_links.links]]
text = "GitHub"
url = "https://github.com/raskell-io/hx"
external = true
[[extra.product.footer_links.links]]
text = "Changelog"
url = "https://github.com/raskell-io/hx/blob/main/CHANGELOG.md"
external = true
[[extra.product.footer_links.links]]
text = "Contributing"
url = "https://github.com/raskell-io/hx/blob/main/CONTRIBUTING.md"
external = true
[[extra.product.footer_links.links]]
text = "Roadmap"
url = "https://github.com/raskell-io/hx/projects"
external = true

[[extra.product.footer_links]]
title = "Community"
[[extra.product.footer_links.links]]
text = "Discord"
url = "https://discord.gg/raskell"
external = true
[[extra.product.footer_links.links]]
text = "Twitter / X"
url = "https://x.com/raskell_io"
external = true
[[extra.product.footer_links.links]]
text = "Discussions"
url = "https://github.com/raskell-io/hx/discussions"
external = true
[[extra.product.footer_links.links]]
text = "Blog"
url = "https://raskell.io/blog/"
external = true

[[extra.product.footer_links]]
title = "Legal"
[[extra.product.footer_links.links]]
text = "License (MIT)"
url = "https://github.com/raskell-io/hx/blob/main/LICENSE"
external = true
[[extra.product.footer_links.links]]
text = "Privacy Policy"
url = "/privacy/"
[[extra.product.footer_links.links]]
text = "Terms of Service"
url = "/terms/"

# Navigation
[[extra.nav_links]]
name = "Docs"
url = "/docs/"

[[extra.nav_links]]
name = "GitHub"
url = "https://github.com/raskell-io/hx"
external = true
